body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
}

.ball-container {
    width: 400px;
    height: 400px;
}

canvas {
    border-radius: 50%;
    background-color: #222;
}
